<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>직원목록</title>
</head>
<body>
	<h3>직원목록</h3> 
	
	<table border="1">
		<tr>
			<th>아이디</th> 
			<th>이름</th>
			<th>성별</th>
			<th>휴대폰</th>
			<th>이메일</th>
			<th>직급</th>
			<th>부서</th>
			<th>등록일</th>
			<th>관리</th>
		</tr>
		
		<tr th:each="vo:${list}">
			<td>[[${vo.uid}]]</td>
			<td>[[${vo.name}]]</td>
			<td>[[${vo.gender}]]</td>
			<td>[[${vo.hp}]]</td>
			<td>[[${vo.email}]]</td>
			<td>[[${vo.pos}]]</td>
			<td>[[${vo.dep}]]</td>
			<td>[[${vo.rdate}]]</td>
			<td>
				<a th:href="@{/employee/modify(uid=${vo.uid})}">수정</a>
				<a th:href="@{/employee/delete(uid=${vo.uid})}">삭제</a>
			</td>
		</tr>

	</table>
</body>
</html>